*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    
   
}

.item {
    height: 200px;
    width: 200px;
}

.item-1 {
    background-color: red;
    
}
.item-2 {
    background-color: blue;
    clip-path: circle(50%);
}
.item-3 {
    background-color: rgb(249, 9, 9);
}   